.new_budget_group_page {
  margin: 16px;
}
.new_budget_item_page {
  margin: 16px;
}
.budget_content {
  display: flex;
  flex-wrap: wrap;
}
.table_amount_field {
  width: 80px;
  margin: 8px 2px 8px 2px;
}
