.padding8 {
  padding: 8px;
}
.padding16 {
  padding: 16px;
}
.padding24 {
  padding: 24px;
}
.padding32 {
  padding: 32px;
}
.pt8 {
  padding-top: 8px;
}
.pr8 {
  padding-right: 8px;
}
.pl8 {
  padding-left: 8px;
}
.pb8 {
  padding-bottom: 8px;
}
.pt16 {
  padding-top: 16px;
}
.pr16 {
  padding-right: 16px;
}
.pl16 {
  padding-left: 16px;
}
.pb16 {
  padding-bottom: 16px;
}
.pt24 {
  padding-top: 24px;
}
.pr24 {
  padding-right: 24px;
}
.pl24 {
  padding-left: 24px;
}
.pb24 {
  padding-bottom: 24px;
}
.pt32 {
  padding-top: 32px;
}
.pr32 {
  padding-right: 32px;
}
.pl32 {
  padding-left: 32px;
}
.pb32 {
  padding-bottom: 32px;
}
